/*Breakpoints comuns: existe uma resolução padrão?
320px — 480px: dispositivos móveis.
481px — 768px: iPads, tablets.
769px — 1024px: telas pequenas, laptops.
1025px — 1200px: desktops, telas grandes.
1201px e acima — telas muito grandes, TVs.*/
@media screen and (min-width:768px) {
   #burguer{
    display: none;
   }
   menu{
     display: block;
   }
   menu ul li{
    display: inline-block;
   }
   main{
    width: 768px;
   }
}