@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
  
}

header h1{
    font-size: 10vw;
    font-weight: bold;
    font-family: var(--fonte2);
    font-variant: small-caps;
    padding-top: 50px;
}
header > p{
    font-family: Verdana,cursive ;
    padding-bottom: 50px;
}
header p > a{
    padding-bottom: 50px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header p >a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
}
section.normal{
    background-color: white;
    color: black;  
}
.imagem{
    background-color: black;
    color: white;

}
.imagem>p{
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.221);
}
section#img01{
   
    background-color: dimgray;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
}
section#img02{
    background-attachment: fixed;
    background-color: dimgray;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer{
    background-color: black;
    padding: 10px;
}
footer p{
    color: white;
    text-align: center;
  
}
footer p>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer p>a:hover{
    text-decoration: underline;
}