@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
:root{
--Yellow: #f4d04e;
--White: #ffffff;
--Grey: #808080;
--Black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;

}   
html,body{
    height: 100vh;
    width: 100vw;
    background-color: var(--Yellow);
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    
}
.main{
    display: flex;
    align-items:center ;
    justify-content: center;
    max-width: 380px;
    
}
.container{
    border-radius: 15px;
    border:0.5px solid black;
    box-shadow: 5px 5px;
    padding: 20px;
    background-color: var(--White);
}
.container:hover{
    box-shadow: 14px 14px;
    transition: 0.5s;
}
.img_box{
    margin-bottom: 20px;
    

}
.img_box img{
    border-radius: 12px;
}
.p1{
    display: inline-block;
    font-weight: bolder;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--Yellow);
    margin-bottom: 10px;
}
h1{
    margin: 20px 0;
}
h1 a{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--Black);
}
h1 a:hover{
    color: #f4d04e;
}
.p2{
    color: var(--Grey);
}
.perfil{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.perfil img{
    width: 10%;
}
.perfil p{
    font-weight: bolder;
}
.attribution{
    display: block;
}