@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --cor00: #ffffff;
    --cor01: #d6e2f0;
    --cor02: #7b879d;
    --cor03: #1f3251;
    --font04:'Outfit', sans-serif;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--cor01) ;
    font-family: var(--font04);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    max-width:358px;
    margin: 0 auto;
}

#card{  
 background-color: #ffffff;
 padding: 18px;
 border-radius: 17px;
 text-align: center;
 margin: 0 1rem;
 
}
#card img{
   width: 100%;
   border-radius: 12px;
}
.ph1{
    text-align: center;
    padding: 22px 10px;
   
}
.ph1 > h1{
    text-align: center;
    color: var(--cor03);
  
}
.ph1>p{
  color:var(--cor02);
  text-align: center;
}