:root{
--cor0:#ffffff;
--cor1:#00D931;
--cor2:#49beb7;
--cor3:#384093;
--cor4:#8a9096;
--cor5:#001D5B;
--cor6:#00abf0;
--cor8:#84868f;
--font:'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
html ,body{
        position: relative;
        background-color:var(--cor0);
}
header{
    width: 100%;
    position:fixed;
    padding:10px 4%;
    background-color: var(--cor0);
}
header.rolagem{
    background-color: var(--cor5);

}
header.rolagem a{
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
    
}
header.rolagem .btn-contato a{
    color: var(--cor1);
    text-decoration:underline;
    font-weight:normal;
}
.container{
    max-width: 80rem;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}
.logo{
    width: 16.5rem;
    margin-left: -1.875rem;
}
.logo img{
    width: 100%;
}
header ul{
    list-style-type: none;
    
}
header ul li{
     display: inline-block;
     margin: 0 40px;
}
header ul li a{
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    
}
header ul li a:hover{
    color: var(--cor1);
}
.btn-contato{
    margin: 0 40px;
}
.btn-contato a{
    color: var(--cor1);
}
.btn-contato button{
    width: 7.5rem;
    height: 2.5rem;
    font-weight: bold;
    border: 0;
    background-color: #00D931;
    border-radius:12px;
    color: var(--cor0);
    cursor: pointer;
    transition: 0.3s;
}
.btn-contato button:hover{
    background-color: transparent;
    transition: .5s;
    border: .25rem solid var(--cor1);
    color: var(--cor1);
}
.hamburger{
   display: none;
   border: none;
   background: none;
   border-top:3px solid var(--cor6);
   cursor: pointer;
}
.hamburger::before,
.hamburger::after{
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: var(--cor6);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.ogi{
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    max-width: 400vw;
    padding: 20px;
    background-color:var(--cor5) ;
}
.containerogi{
    display:grid;
    place-content: center;
    place-items: center;

}
.primeiroh2{
    color: var(--cor0);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.segundooh2{
    color: var(--cor1);
    font-size: 33px;
    font-weight: 700;
    padding: 10px;
    line-height: 44px;
}
.primeirop{
  color: var(--cor1);
  font-size:  10px;
}
.segundop{
    color: var(--cor1);
  font-size:  20px;
  font-style: italic;
}
.ogi ul {
    list-style-type: disc;
    margin-left: 20px;
    color: var(--cor0);
}
.imgogi{
    width: 60vw;
}
 img{
    width: 100%;
    height: 100%;
}
.section {
  min-height: 100vh;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  padding-right: 30px;
  text-align: center;
  justify-content: space-between; /* Mova a propriedade justify-content aqui */
}

#lavandaria-luminosa {
  text-align: center;
}

/* Estilo das imagens dentro da seção */
.section .images1 img {
  width: 100%;
  max-height: 900px;
  height: 70%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    place-content: center;
  }

  /* Defina o estilo das imagens para cobrir a tela inteira */
  .section .images1 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  /* Remova a propriedade text-align, pois já foi definida no .section */
}

@media screen and (min-width: 769px) {
  .section .images1 {
    height: auto;
    width: auto;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #servicos{
    text-align: center;
   
  }
  .servi-img{
    width:100%;
  }*/
  .contain {
    min-height: 100vh;
    max-width: 358px;
    margin: 0 auto;
}
.contain h2{
  margin-bottom: 50px;
}
.servi {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}
.lavagemderopas {
  width: 400px;
  margin: 10px;
}
#card {
    background-color:var(--cor6);
    text-align: center;
    margin: 0 1rem;
}

#card img {
    width: 100%;
}

#h3 {
  color: var(--cor0);
    text-align: center;
    padding: 22px 10px;
}
/* Reset text-align for .servi */
.servi {
    text-align: left;
}

  #precos{
    min-height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
  }
/* Estilização do cabeçalho da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
thead {
  background-color: var(--cor5);
  color: var(--cor0);
}
thead th {
  padding: 10px;
  text-align: center;
}
/* Estilização do corpo da tabela */
tbody {
  background-color: var(--cor0);
  color: var(--cor0);
}
tbody td {
  padding: 10px;
  text-align: center;
}
/* Estilização do rodapé da tabela */
tfoot {
  background-color: var(--cor5);
  color: var(--cor0);
  font-weight: bold;
}
tfoot td {
  padding: 10px;
  text-align: center;
}
/* Estilização das linhas pares e ímpares da tabela */
tbody tr:nth-child(even) {
  background-color: var(--cor6);
}
tbody tr:nth-child(odd) {
  background-color: var(--cor1);
}
/* Estilização das células de "Total" no rodapé */
tfoot tr {
  background-color: var(--cor5);
}
#contacto{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
}
#contacto form{
  width: 100%;
  max-width: 30rem;
}
input,textarea,.gg{
  width: 100%;
  font:inherit;
  padding: 1.25rem;
  font-weight: 700;
}
input,textarea{
  margin-bottom: 16px ;
  color: var(--cor0);
  background: var(--cor5);
  border: 2px solid transparent;
  border-radius: 18px;
  transition: border-color 0.3s,box-shadow 0.3s;
}
input:hover,input:focus,
textarea:hover,textarea:focus{
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 5px #26344a; 
}
label{
  margin-bottom: 8px;
  color:var(--cor8) ;
}
textarea{
min-height: 200px;
resize: vertical;
}
.gg{
border: none;
border-radius: 99px;
color: var(--cor0);
background-color: var(--cor1);
cursor: pointer;
transition: 0.3s;
}
.gg:hover,.gg:focus{
     outline: none;
     background-color: #1c70d3;
}
.gg:disabled{
    cursor: not-allowed;
    background-color: var(--cor8);
}
.success,.error{
  text-align: center;
}
.success{
  color: var(--cor1);
}
.error{
  color: red;
}
footer{
    background-color: var(--cor5);
    letter-spacing: 1px;
    width:100%;
}
#container{
    color: var(--cor0);
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    padding: 3rem 3.5rem;
}
.footer-social{
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
#social a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid  var(--cor6) ;
    border-radius: 100%;
    font-size: 20px;
    color:  var(--cor6);
    text-decoration: none;
}
#footer-list{
    list-style: none;
    margin-top: 5px;
}
#footer-list li{
    padding-top: 10px; 
}
#footer-list a{
    text-decoration: none;
    padding-top: 5px;
    color: var(--cor0);
}
#footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor0);
    font-weight: bold;
    font-family: var(--font);
}
/* Estilos para telas menores ou iguais a 768px */
@media screen and (max-width: 768px) {
    header {
      height: 130px; /* Defina a altura desejada para o header */
    }
    .hamburger {
      display: block;
      z-index: 1;
    }
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 70vw;
      background: var(--cor1);
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
    }
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
    .nav.active .nav-list a {
      opacity: 1;
    }
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
    .nav-list li:nth-child(1) {
      transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) {
      transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) {
      transition: 0.5s 0.6s;
    }
    .nav-list li:nth-child(4) {
      transition: 0.5s 0.8s;
    }
  }
  /* Estilos para telas menores ou iguais a 768px */
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 10px;
    }
    .btn-contato {
      position: absolute;
      left: 45%;
      top: 40%;
      transform: translateX(-50%);
    }
    .logo {
      position: absolute;
      top: 20%;
      left: -10px;
    }
  }
  /* Estilos para telas menores ou iguais a 768px */
  @media screen and (max-width: 768px) {
    .servi {
        grid-template-columns: repeat(1, 1fr);
    }

    .lavagemderopas {
        width: 90%;
    }
}
  /* Estilos para telas menores ou iguais a 768px */
  @media screen and (max-width: 768px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  /* Estilos para telas menores ou iguais a 426px */
  @media screen and (max-width: 426px) {
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
    #footer-copyright {
      padding: 15px 10px;
    }
  }
  /* Estilos para telas menores ou iguais a 768px */
  @media screen and (max-width: 768px) {
    .ogi {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .imgogi {
      width: 90vw;
    }
    .imgogi img {
      width: 100%;
    }
  }
  /* Estilos para telas entre 769px e 1024px */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .imgogi {
      width: 80vw;
    }
  
    .imgogi img {
      width: 100%;
    }
  } 
  /* Estilos para telas menores ou iguais a 768px */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
  }
}