@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --cor00: hsla(178, 100%, 50%, 0.5);
    --cor01: hsl(215, 51%, 70%);
    --cor02: hsl(178, 100%, 50%);
    --cor03: hsl(217, 54%, 11%);
    --cor04: hsl(216, 50%, 16%);
    --cor05: hsl(215, 32%, 27%);
    --cor06: hsl(0, 0%, 100%);
    --font: 'Outfit', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font) ;
}
body{
    font-family: var(--font);
    font-size: 18px;
    background-color: var(--cor03);
  
    display: flex;
    
    
}
.containe{
    max-width:358px;
    margin: 0 auto;
}
.wrapper{
    margin: 2rem 1rem;
    background-color: var(--cor04);
    padding: 20px;
    border-radius: 15px;
    box-shadow:0 0 30px 5px rgba(0, 0, 0, 0.50);
}
.img-top{
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
}
.img-top img{
    width: 100%;
    display: block;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor00);
    display: none;
}
.img-overlay img{
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-top:hover .img-overlay{
    display: block;
}
.box-text a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0px;
    display: inline-block;
}
.box-text a:hover{
    color: var(--cor02);
}
 p{
    color: var(--cor01);
}
.flex{
  display: flex;
  flex-direction: column; 
}
.div{
    display: flex; 
    justify-content: space-between;
    margin: 20px 0;
}
.eft{
    display: flex;
    align-items: center;   
}
.p1{
    margin-left: 6px;
    color: var(--cor02);
}
.clock{
    display: flex;
    align-items: center;
}
.p2{
    margin-left: 6px;
}
span{
    border: 1px solid var(--cor01);
}

.author{
   display: flex;
   align-items: center;
   width: 300px;
}
hr{
    color: var(--cor00);
}
.author img{
    border: 1px solid white;
    width: 10%;
    margin-right: 10px;
    border-radius: 100%;
}
#ca{
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 21px;
        padding: 20px 0px;
        display: inline-block;
}
#ca:hover{
        color: var(--cor02);
}