@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
--cor0: hsl(31, 77%, 52%);
--cor1: hsl(184, 100%, 22%);
--cor2: hsl(179, 100%, 13%);
--cor3: hsla(0, 0%, 100%, 0.75);
--cor4: hsl(0, 0%, 95%);
--font1: 'Big Shoulders Display', sans-serif;
--font2: 'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.colum1{
   width: 200px;
   padding: 30px;
  
}
.colum1:first-child {
    background: var(--cor0);
    border-radius: 4px 0px 0 4px;
}

.colum1:nth-child(2) {
    background: var(--cor1);
}

.colum1:nth-child(3) {
    background: var(--cor2);
    border-radius: 0 4px 4px 0;
}
.colum1 .img{
    width: 40px;
}
img{
  width: 100%;
}
.colum1 h1{
    color: var(--cor4);
    font-family: var(--font2);
    font-size: 27px;
    margin: 10px 0;
}
.colum1 p{
    color: var(--cor4);
    margin: 25px 0;
    font-size: 15px;
   
}
.colum1 button{
    border: 0;
    padding: 8px;
    border-radius: 20px;
    width: 100px;
    margin: 10px 0;
    cursor: pointer;

}
.colum1:first-child button{
    color: var(--cor0);
}
.colum1:nth-child(2) button{
    color: var(--cor1); 
}
.colum1:nth-child(3) button{
    color: var(--cor2); 
}
.colum1:first-child button:hover{
    color:var(--cor3);
    background-color: var(--cor0);
    border: 1px solid white;
    
}
.colum1:nth-child(2) button:hover{
    color:var(--cor3);
    background-color: var(--cor1);
    border: 1px solid white;
   
    
}
.colum1:nth-child(3) button:hover{
    color:var(--cor3);
    background-color: var(--cor2);
    border: 1px solid white;
    
}
