.section {
    min-height: 100vh;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    padding-right: 30px;
    text-align: center;
    justify-content: space-between; /* Mova a propriedade justify-content aqui */
  }
  
  #lavandaria-luminosa {
    text-align: center;
  }
  
  /* Estilo das imagens dentro da seção */
  .section .images1 img {
    width: 100%;
    max-height: 900px;
    height: 70%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
    .section {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
    }
  
    /* Remova a propriedade text-align, pois já foi definida no .section */
  }
  
  @media screen and (min-width: 769px) {
    .section .images1 {
      height: auto;
      width: auto;
    }
  }
  
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    
    .servi {
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      align-items: center;
  }
  
  .lavagemderopas {
      border-radius: 1.25rem;
      width: 300px;
      margin: 10px;
      padding: 20px;
      background-color: lightgray;
      text-align: center; /* Centraliza o texto no bloco */
  }
  
    #precos{
      min-height: 100vh;
      text-align: center;
      display: grid;
      place-items: center;
    }
   
  /* Estilização do cabeçalho da tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: var(--cor5);
    color: var(--cor0);
  }
  
  thead th {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilização do corpo da tabela */
  tbody {
    background-color: var(--cor0);
    color: var(--cor0);
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilização do rodapé da tabela */
  tfoot {
    background-color: var(--cor5);
    color: var(--cor0);
    font-weight: bold;
  }
  
  tfoot td {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilização das linhas pares e ímpares da tabela */
  tbody tr:nth-child(even) {
    background-color: var(--cor6);
  }
  
  tbody tr:nth-child(odd) {
    background-color: var(--cor1);
  }
  
  /* Estilização das células de "Total" no rodapé */
  tfoot tr {
    background-color: var(--cor5);
  }
  