
body{
  background-color: darkgoldenrod;
  font-family: arial, Helvetica,sans-serif;
  font-size: 20px;
}
h1{
  color:maroon;
  background-color: gold;
}
h2{
  color: darkred;
}
p{
  text-align: justify;
}