@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
--font: 'Open Sans', sans-serif;
--Violet: hsl(257, 40%, 49%);
--SoftMagenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: var(--Violet) url(./images/bg-desktop.svg) no-repeat;
    
}
main{
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.img .logo{
    width: 200px;
    margin-bottom: 100px;
}
.content{
   width: 500px;
}
img{
    width: 100%;
}
h1{
    color: white;
    font-family: var(--font);
    margin: 0 0 15px 0;
}
p{
    color: white;
    font-size: 14px;
}
button{
    border: 0;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 30px 0;
    color: var(--Violet);

}
@media screen and (max-width: 468px) {
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
  }