@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font-size: 136px;
    font-weight: bold;
    font-family: var(--fonte2);
    padding-top: 40px;
}
header p{
    font-family: Verdana,cursive ;
    font-size: 16px;
}
header p > a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte1) ;
    font-size: 16px;
    font-weight: bold;
}
header p >a:hover{
    text-decoration: underline;
}
section.normal{
    font-family: var(--fonte3);
    font-size: 47px;
    padding:  50px 40px 40px 40px;
}
.imagem{
    font-family: var(--fonte3);
    font-size: 47px;
    padding:  50px 40px 40px 40px;
}
section#img01{
    background-color: dimgray;
    background-image: url(im);
}
section#img02{
    background-color: dimgray;
    background-image: url(img/background002.jpg);
}
footer{
    background-color: black;
    padding: 10px;
}
footer p{
    color: white;
    text-align: center;
    font-family: var(--fonte1) ;
    font-size: 16px;
}
footer p>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer p>a:hover{
    text-decoration: underline;
}
