@charset "UTF-8";
@font-face {
  font-family:idroid;
  src: url(fontes/idroid.otf)format(truetype);
  font-weight: normal;
  font-style:normal ;
}
body{
   background-color:rgb(164, 228, 164);
}
header{
  background-image: linear-gradient(to top right, rgb(12, 48, 12), green);
  height: 120px;
  width: 100%;
}
.box{
  text-align: center;
}
nav > a{
  text-decoration: none;
  color: white;
  font-weight:bold ;
  margin-right:30px ;
}
main{
  background-color: white;
  margin: 0px 200px 0px 300px;
  border: 10px rgba(0, 0, 0, 0.493);
}
section >h1{
  font-family: idroid;
}
h2{
  font-family: idroid;
  background-color: rgb(8, 245, 8); 
  width: 700px;
}
p{
  text-align: justify;
  text-indent: 50px;
}
div#video{
  background-color: rgb(5, 51, 5);
  display: flex;
      justify-content: center;
      margin-top: 20px
}
div#b{
  background-color: #29F252;
  justify-content: center;
  margin: 30px;
  border-radius: 10px;
  
}
footer{
  background-color: rgb(1, 39, 4) ;
  color: white;
  text-align: center;
  padding: 1px;
  margin: 0px;
}
