@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
--cor0:hsl(225, 100%, 94%);
--cor1:hsl(245, 75%, 52%);
--cor2:hsl(225, 100%, 98%);
--cor3:hsl(224, 23%, 55%);
--cor4:hsl(223, 47%, 23%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}
body{
   max-width:  1440px;
   background: url(images/pattern-background-desktop.svg) no-repeat;
   background-position: top center;
   background-size:contain;
   display:flex;
   background-color: var(--cor0);
   align-items: center;
   justify-content: center;
   height: 100vh;
}
#container{
   background-color: white;
   max-width: 375px ;
   border-radius:12px;
   box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.123);
}
.img1{
   width: 100%;
   border-radius:12px 12px  0 0 ;
}
.text{ 
   padding: 12px;
   text-align: center;
}
h2{
   margin: 20px;
   color: var(--cor4);
}
.p1{
   color: var(--cor3);
}
.icon{
   background-color: var(--cor2);
   padding: 20px;
   border-radius: 12px;
   margin: 25px 0;
   display: flex;
   justify-content: space-around;
}
.icon div{
  align-self: flex-start;
}
.p2{
   font-weight: 800;
   color: var(--cor4);
   padding-bottom: 5px;
}
.p3{
   color: var(--cor3);
}
.p4{
   align-self: center;
}
.p4 a{
   font-weight: 600;
}
.p4 a:hover{
   font-weight: 600;
   text-decoration: none;
   color: var(--cor3);
}

.button{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.button a{
   display: block;
   text-decoration: none;
   text-align: center;
   font-weight: 600;
}
.a1{
   background-color: var(--cor1);
   padding: 14px;
   width: 300px;
   color: var(--cor0);
   border-radius: 12px;
   margin-bottom: 20px;
}
.a1:hover{
   background-color: var(--cor3);
}
.a2{
   color: var(--cor3);
   margin-bottom: 20px;
}
.a2:hover{
   color: var(--cor4);
}