@charset "utf-8";

#mapa {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: relative;
  }
  
  .pais {
    position: absolute;
    cursor: pointer;
  }
  
  #argelia {
    top: 150px;
    left: 70px;
    width: 150px;
    height: 200px;
    background-color: #f00;
  }
  
  #angola {
    top: 340px;
    left: 180px;
    width: 120px;
    height: 130px;
    background-color: #0f0;
  }
  #benin {
    top: 310px;
    left: 200px;
    width: 60px;
    height: 70px;
    background-color: #00f;
  }
  #botswana {
    top: 400px;
    left: 340px;
    width: 80px;
    height: 100px;
    background-color: #ff0;
  }
  #zambia {
    top: 420px;
    left: 390px;
    width: 120px;
    height: 140px;
    background-color: #f80;
  }
  
  #zimbabue {
    top: 450px;
    left: 510px;
    width: 100px;
    height: 110px;
    background-color: #880;
  }
  
  /* Adicione o restante dos estilos para os países da África */
  
  