@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
--cor0: hsl(0, 0%, 100%);
--cor1: hsl(212, 45%, 89%);
--cor2: hsl(220, 15%, 55%);
--cor3: hsl(218, 44%, 22%);
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
 background-color: var(--cor1);
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.card{
  background-color: var(--cor0);
  padding: 18px;
  border-radius:15px;
  max-width: 375px;
  width: 100%;
}
.img1 img{
  width: 100%;
  border-radius: 15px
}
.conteudo{
  margin: 20px ;
  text-align: center;
}
h2{
  color: var(--cor3);

}
p{
  color: var(--cor2);
  padding:20px 12px 00;
}